<?php
namespace ###NAMESPACE###;

/***************************************************************
 *  Copyright notice
 *
 *  (c) ###YEAR### ###COMPANY###
 *  All rights reserved
 *
 *  This script is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  The GNU General Public License can be found at
 *  http://www.gnu.org/copyleft/gpl.html.
 *
 *  This script is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  This copyright notice MUST APPEAR in all copies of the script!
 ***************************************************************/

/**
 * ###CLASS-NAME###
 *
 * @package ###NAMESPACE###
 */
class ###CLASS-NAME### implements \EssentialDots\EdMigrate\Migration\MigrationInterface {

	/**
	 * @var \TYPO3\CMS\Extbase\Mvc\Cli\ConsoleOutput
	 */
	protected $output;

	/**
	 * @param \TYPO3\CMS\Extbase\Mvc\Cli\ConsoleOutput $output
	 */
	public function __construct($output = NULL) {
		if ($output instanceof \TYPO3\CMS\Extbase\Mvc\Cli\ConsoleOutput) {
			$this->output = $output;
		} else {
			/** @var \TYPO3\CMS\Extbase\Object\ObjectManagerInterface $objectManager */
			$objectManager = \TYPO3\CMS\Core\Utility\GeneralUtility::makeInstance('TYPO3\\CMS\\Extbase\\Object\\ObjectManager');
			$this->output = $objectManager->get(\TYPO3\CMS\Extbase\Mvc\Cli\ConsoleOutput::class);
		}
	}

	/**
	 * @return void
	 */
	public function up() {
		###STATEMENTS###
	}

	/**
	 * @return void
	 */
	public function down() {
		// @todo: implement rollback
	}

	/**
	 * @return \TYPO3\CMS\Core\Database\DatabaseConnection
	 */
	protected function getDatabase() {
		return $GLOBALS['TYPO3_DB'];
	}
}